<h1><%= link_to 'Create an appearance', new_appearance_path %></h1>
<br></br>
<h1><%= link_to 'View all guests', guests_path %></h1>
<br></br>
<h1><%= link_to 'View all episodes', episodes_path %></h1>
